/*** The new CSS Reset - version 1.4.5 (last updated 13.1.2022) ***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}
/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}
/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
a {
  text-decoration: none;
  color: inherit;
}
.address-bar {
  align-items: center;
  background-color: #B2967D;
  color: #ECF8F8;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5em 0;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  background-color: #B2967D;
  background-image: url(../images/PAT_9275.jpg);
  background-size: cover;
  background-position: 50% 35%;
  color: #ECF8F8;
  height: 90vh;
  text-align: right;
  width: 100%;
}
.banner-text {
  font-weight: bolder;
  font-size: 5em;
  margin-top: 1em;
}
.button-link {
  width: 90%;
  padding: 1.5em 0;
  background-color: #B2967D;
  color: #ECF8F8;
  text-align: center;
  margin: 0.5em 0;
}
.button-link-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 700px;
  width: 100%;
}
.filter-azure {
  filter: invert(100%) sepia(15%) saturate(925%) hue-rotate(158deg) brightness(100%) contrast(95%);
}
.filter-grullo {
  filter: invert(59%) sepia(32%) saturate(304%) hue-rotate(347deg) brightness(98%) contrast(85%);
}
.footer {
  background-color: #B2967D;
  color: #ECF8F8;
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
}
.h1 {
  font-size: 1.5em;
  font-weight: bold;
}
.h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.5em;
}
.h3 {
  font-size: 1,5em;
  font-weight: bold;
}
html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
.list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  list-style: none;
}
.list__item {
  flex-shrink: 2;
  font-size: 0.9em;
  margin: 0.2em 0.2em;
  padding: 0.5em 0;
  text-align: center;
}
.navbar {
  align-items: center;
  background-color: #ECF8F8;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  width: 100vw;
}
.navbar .list__item {
  padding: 0 0.5em;
}
.navbar__button-area {
  display: none;
  flex: 1 0 50vw;
  justify-content: flex-end;
}
.navbar__logo-area {
  flex: 0.5 0 40vw;
  text-align: center;
}
.navbar__nav-area {
  flex: 1 2 50vw;
  font-weight: normal;
}
.page {
  background-color: #ECF8F8;
  color: #B2967D;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}
.page-content {
  max-width: 960px;
  margin: 0 1.5em;
  margin-bottom: 2em;
}
.page-tittle__container {
  width: 200px;
  height: 200px;
  border: 2px solid #ECF8F8;
}
.section {
  margin-top: 1em;
}
.scroll-up {
  align-self: center;
  aspect-ratio: 1;
  display: inline-block;
  font-size: 2rem;
  font-weight: lighter;
  position: sticky;
  left: 90vw;
  text-align: center;
  top: 90vh;
  transition: all 1s ease-in-out;
}
.scroll-up__link {
  background-color: #B2967D;
  border-radius: 50%;
  color: #ECF8F8;
  padding: 0 0.25em;
}
.svg-icon {
  display: inline-block;
  height: 1.2em;
  margin: auto 0.5em;
}
.video {
  width: 100%;
}
.yt-embed {
  aspect-ratio: 560/315;
  width: 100%;
  height: auto;
}
@media (max-width: 960px) {
  .navbar__button-area {
    display: flex;
  }
  .navbar__nav-area {
    display: none;
    height: 0;
    justify-content: center;
  }
  .navbar__nav-area .list {
    display: flex;
    flex-direction: column;
  }
}
.displayed {
  display: flex;
  height: auto;
}
