@import 'newreset.less';

@color-cornsilk: #FEFAE0;
@color-azure: #ECF8F8;
@color-isabelline: #EEE4E1;
@color-almond: #E7D8C9;
@color-sand: #E6BEAE;
@color-grullo: #B2967D;

@color-light: @color-azure;
@color-dark: @color-grullo;

a{
    text-decoration: none;
    color: inherit;
}

.address-bar {
    align-items: center;
    background-color: @color-dark;
    color: @color-light;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.5em 0;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.banner {
    background-color: @color-dark;
    background-image: url(https://images.unsplash.com/photo-1573497019236-17f8177b81e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: 50% 35%;
    color: @color-light;
    height: 90vh;
    text-align: right;
    width: 100%;
}

.banner-text {
    font-weight: normal;
    font-size: 5em;
    display: none;
}

.button-link {
    width: 90%;
    padding: 1.5em 0;
    background-color: @color-dark;
    color: @color-light;
    text-align: center;
    margin: 0.5em 0;
}

.button-link-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
}

.filter-azure {
    filter: invert(100%) sepia(15%) saturate(925%) hue-rotate(158deg) brightness(100%) contrast(95%);
}
.filter-grullo {
    filter: invert(59%) sepia(32%) saturate(304%) hue-rotate(347deg) brightness(98%) contrast(85%);
}

.footer {
    background-color: @color-dark;
    color: @color-light;
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
}

.h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.h2 {
    font-size: 2em;
    font-weight: normal;
    margin-top: 0.5em;
}

.h3 {
    font-size: 1,5em;
    font-weight: bold;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    list-style: none;
}

.list__item {
    flex-shrink: 2;
    font-size: 0.9em;
    margin: 0.2em 0.2em;
    padding: 0.5em 0;
    text-align: center;
}

.navbar {
    align-items: center;
    background-color: @color-light;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    width: 100vw;
    .list__item {
        padding: 0 0.5em;
    }
}

.navbar__button-area {
    display: none;
    flex: 1 0 50vw;
    justify-content: flex-end;
}

.navbar__logo-area {
    flex: 0.5 0 40vw;
    text-align: center;
}

.navbar__nav-area {
    flex: 1 2 50vw;
    font-weight: normal;
}

.page {
    background-color: @color-light;
    color: @color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

.page-content {
    max-width: 960px;
    margin: 0 1.5em;
    margin-bottom: 2em;
}

.page-tittle__container {
    width: 200px;
    height: 200px;
    border: 2px solid @color-light;
}

.section {
    margin-top: 1em;
}

.scroll-up {
    align-self: center;
    aspect-ratio: 1;
    display: inline-block;
    font-size: 2rem;
    font-weight: lighter;
    position: sticky;
    left: 90vw;
    text-align: center;
    top: 90vh;
    transition: all 1s ease-in-out;
}

// .scroll-up__link {
//     // background-color: @color-dark;
//     // border-radius: 50%;
//     // color: @color-light; 
//     // padding: 0 0.25em;
// }

.svg-icon {
    display: inline-block;
    height: 1.2em;
    margin: auto 0.5em;
}

.video-container {
    width: 100%;
}

.yt-embed {
    aspect-ratio: 560/315;
    width: 100%;
    height: auto;
}

@media (max-width: 960px) {
    .navbar__button-area {
        display: flex;
    }

    .navbar__nav-area {
        display: none;
        height: 0;
        justify-content: center;
        .list {
            display: flex;
            flex-direction: column;
        }
    }
    
    // .gallery img {
    //     object-fit:cover;
    //     height: 400px;
    //     &:hover {
    //         transform: scale(1.6);
    //         object-fit: scale-down;
    //         z-index: 1;
    //     }
    // }
}
// @media (prefers-color-scheme: light) {
//     .body {
//         .theme (light);
//     }

//     .footer {
//         .theme (dark);
//     }

//     .underline {
//         border-bottom: 1px solid @color-dark;
//     }
// }
// @media (prefers-color-scheme: dark) {
//     .body {
//         .theme (dark);
//     }

//     .footer {
//         .theme (light);
//     }

//     .underline {
//         border-bottom: 1px solid @color-light;
//     }
// }
// @media (orientation: landscape) {
//     .header {
//         background-position: 0% 60%;
//     }
// }
// @media (orientation: portrait) {
//     .header {
//         background-position: top left;
//     }

//     // .content {
//     //     margin: 0em 1em;
//     // }
// }

.displayed {
    display: flex;
    height: auto;
}
