/*** The new CSS Reset - version 1.4.5 (last updated 13.1.2022) ***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}
/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}
/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
a {
  text-decoration: none;
  color: inherit;
}
.address-bar {
  align-items: center;
  background-color: #B2967D;
  color: #ECF8F8;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 0.5em 0;
  width: 100%;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  background-color: #B2967D;
  background-image: url(../images/PAT_9275.jpg);
  background-size: cover;
  background-position: 50% 35%;
  color: #ECF8F8;
  height: 100%;
  text-align: right;
  width: 100%;
}
.banner-text {
  font-weight: bolder;
  font-size: 5em;
  margin-top: 1em;
}
.bar-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.bar-list__item {
  margin: 0 1em;
}
.button-link {
  width: 90%;
  padding: 1.5em 0;
  background-color: #B2967D;
  color: #ECF8F8;
  text-align: center;
  margin: 0.5em 0;
}
.button-link-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 700px;
  width: 100%;
}
.filter-azure {
  filter: invert(100%) sepia(15%) saturate(925%) hue-rotate(158deg) brightness(100%) contrast(95%);
}
.footer {
  background-color: #B2967D;
  color: #ECF8F8;
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
}
.h1 {
  font-size: 1.5em;
  font-weight: bolder;
}
.h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.5em;
}
.h3 {
  font-size: 1,5em;
  font-weight: bold;
}
html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
.icon {
  display: inline-block;
}
.navbar {
  background-color: #ECF8F8;
  display: flex;
  width: 100vw;
  position: sticky;
  top: 0;
}
.navbar__logo-area {
  flex: 0 0 40vw;
  text-align: center;
}
.navbar__nav-area {
  flex: 1 1 60vw;
}
.page {
  background-color: #ECF8F8;
  color: #B2967D;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}
.page-content {
  max-width: 1000px;
  margin: 0 1.5em;
}
.page-tittle__container {
  width: 200px;
  height: 200px;
  border: 2px solid #ECF8F8;
}
.section {
  margin-top: 1em;
}
.scroll-up {
  align-self: center;
  display: inline-block;
  font-size: 2rem;
  font-weight: lighter;
  position: sticky;
  left: 90vw;
  text-align: center;
  top: 90vh;
  transition: all 1s ease-in-out;
}
.top-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .page {
    font-size: 0.75em;
  }
}
