@import 'reset.less';

@color-light: #ECF8F8;
@color-dark: #B2967D;

a{
    text-decoration: none;
    color: inherit;
}

.address-bar {
    background-color: @color-dark;
    color: @color-light;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 0.5em 0;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.banner {
    background-color: @color-dark;
    background-image: url(../images/baner-placeholder.jpg);
    background-size: cover;
    background-position: top center;
    color: @color-light;
    height: 100vh;
    text-align: right;
    width: 100%;
}

.banner-text {
    font-weight: bolder;
    font-size: 5em;
}

.bar-list {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.bar-list__item {
    margin: 0 1em;
}

.button-link {
    width: 90%;
    padding: 1.5em 0;
    background-color: @color-dark;
    color: @color-light;
    text-align: center;
    margin: 0.5em 0;
}

.button-link-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
}

.footer {
    background-color: @color-dark;
    color: @color-light;
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
}

.h1 {
    font-size: 1.5em;
    font-weight: bolder;
}

.h2 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.5em;
}

.h3 {
    font-size: 1,5em;
    font-weight: bold;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: inherit;
    display: flex;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar__logo-area {
    flex: 0 0 40vw;
    text-align: center;
}

.navbar__nav-area {
    flex: 1 1 60vw;
}

.page-tittle {
    text-align: center;
}

.page {
    background-color: @color-light;
    color: @color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

.page-content {
    // flex: 0 0 1000px;
    max-width: 1000px;
    margin: 0 1.5em;
}

.page-tittle__container {
    width: 200px;
    height: 200px;
    border: 2px solid @color-light;
}

.section {
    margin-top: 1em;
}



.scroll-up {
    align-self: center;
    display: inline-block;
    font-size: 2rem;
    font-weight: lighter;
    position: sticky;
    left: 90vw;
    text-align: center;
    top: 90vh;
    transition: all 1s ease-in-out;
}
